@import './variables.styl';
button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 0px;
  font-size: 14px;
  border-radius: 4px;
}
.button--primary {
    color: #FFF;
    background-color: $btn-bg-color;
    border-color: $btn-bg-color;
}
.button--principal {
    color: #FFF;
    background-color: #ff6461;
    border-color: #ff6461;
}
.button--primary:focus, .button--primary:hover {
    background: $btn-bg-active-color;
    border-color: $btn-bg-active-color;
    color: #FFF;
}
.button--principal:focus, .button--principal:hover {
    background: rgb(255, 131, 129);
    border-color: rgb(255, 131, 129);
    color: #FFF;
}
.button--gray {
    color: #FFF;
    background-color: #8D8D8D;
    border-color: #8D8D8D;
}
.button--gray:focus, .button--gray:hover {
    background: #8D8D8D;
    border-color: #8D8D8D;
    color: #FFF;
    opacity: .9;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.mR20{
    margin-right:20px;
}
.mt15{
    margin-right:15px;
}
.el-message-box__title{
    font-size:15px;
}