//定义颜色
// $color-primary = #ee2652 //主色366dfb
// $color-primary = #366dfb //主色

$color-primary = -webkit-linear-gradient(to bottom , #67C9FE, #1BA3F1);
$color-primary = -o-linear-gradient(to bottom , #67C9FE, #1BA3F1);
$color-primary = -moz-linear-gradient(to bottom , #67C9FE, #1BA3F1);
$color-primary = linear-gradient(to bottom , #67C9FE, #1BA3F1); //主色渐变

// $color-primary-tint = #89BFFC//主色 浅色

$color-home = #67C9FE

$color-home-select = $color-primary //首页选中块默认 边框
$color-home-select-font = #ffffff
$color-home-selected = $color-primary //首页选中块选中时的背景色
$color-home-selected-font = $color-primary
$color-home-background = #FFFFFF



$color-button=$color-primary //主按钮颜色
$color-button-font=#fff //主按钮字体颜色
$color-button-home=$color-primary//首页按钮颜色

$color-header=$color-primary //主要顶部颜色
$color-header-text=#fff //主要顶部字体颜色
$color-header-back=#fff //主要顶部后退按钮颜色

$color-user-top=#000 //我的顶部字体颜色
$color-user-top-tint=#050505 //我的顶部字体浅色
$color-user-top-realName=#ED593F //我的顶部字体颜色

$bg-user-top($i)
  background url('img/head_bg'+$i+'.jpg') center center / cover no-repeat

$color-icon=$color-home //小图标主颜色

$color-icon-checked=$color-primary//同意协议颜色

$color-icon-right=#ccc//小图标 >颜色

// $color-form-icon=$color-primary //表单icon图标颜色
$color-link=#ff8351;//链接颜色//select确定的颜色
$color-tip=#000;
// $color-font //主字体颜色
// $color-link //>图标颜色
$color-tab=#666//主tab颜色
$color-tab-select=$color-home//tab选中颜色
$color-bg =#EE2652


// //定义颜色
// $color-primary = #87e37e //主色

// // $color-primary-tint = #89BFFC//主色 浅色

// $color-home = #328df2

// $color-home-select = #328df2 //首页选中块默认 边框
// $color-home-select-font = #ffffff
// $color-home-selected = #328df2 //首页选中块选中时的背景色
// $color-home-selected-font = #328df2
// $color-home-background = $color-primary



// $color-button=$color-primary //主按钮颜色
// $color-button-font=#000 //主按钮字体颜色
// $color-button-home=#328df2 //首页按钮颜色

// $color-header=$color-primary //主要顶部颜色
// $color-header-text=#000 //主要顶部字体颜色
// $color-header-back=#000 //主要顶部后退按钮颜色

// $color-user-top=#000 //我的顶部字体颜色
// $color-user-top-tint=#050505 //我的顶部字体浅色
// $color-user-top-realName=#000 //我的顶部字体颜色

// $bg-user-top()
//   background url('img/head_bg3.jpg') center center / cover no-repeat

// $color-icon=$color-primary //小图标主颜色

// $color-icon-checked=$color-primary//同意协议颜色

// $color-icon-right=#ccc//小图标 >颜色

// // $color-form-icon=$color-primary //表单icon图标颜色
// $color-link=blue;//链接颜色//select确定的颜色
// $color-tip=#000;
// // $color-font //主字体颜色
// // $color-link //>图标颜色
// $color-tab=#666//主tab颜色
// $color-tab-select=#87e37e//tab选中颜色
// $color-bg =#EE2652



// //定义颜色
// $color-primary = #328df2 //主色

// // $color-primary-tint = #89BFFC//主色 浅色

// $color-home = #328df2


// $color-home-select = #328df2 //首页选中块默认 边框
// $color-home-select-font = #ffffff
// $color-home-selected = #328df2 //首页选中块选中时的背景色
// $color-home-selected-font = #328df2
// $color-home-background = #ffffff


// $color-button=$color-primary //主按钮颜色
// $color-button-font=#FFF //主按钮字体颜色
// $color-button-home=$color-primary //首页按钮颜色

// $color-header=$color-primary //主要顶部颜色
// $color-header-text=#FFF //主要顶部字体颜色
// $color-header-back=#FFF //主要顶部后退按钮颜色

// $color-user-top=#FFF //我的顶部字体颜色
// $color-user-top-tint=#fefefe //我的顶部字体浅色
// $color-user-top-realName=$color-primary //我的顶部字体颜色

// $bg-user-top()
//   background url('img/head_bg2.jpg') center center / cover no-repeat

// $color-icon=$color-primary //小图标主颜色

// $color-icon-checked=$color-primary//同意协议颜色

// $color-icon-right=#ccc//小图标 >颜色

// // $color-form-icon=$color-primary //表单icon图标颜色
// $color-link=#ff8351;//链接颜色//select确定的颜色
// $color-tip=#000;
// // $color-font //主字体颜色
// // $color-link //>图标颜色
// $color-tab=#666//主tab颜色
// $color-tab-select=$color-primary//tab选中颜色
// $color-bg =#EE2652